@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* HTML5 display-role reset for older browsers * article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
	color: #080808;
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

/* Hedaer */

.full-container {
	width: 100%;
	font-weight: bold;
}

.header {
	background-color: #0072bc;
}	

.wrapper {
	min-width: 320px;
	padding: 10px;
	margin: 0 auto; 
}	

.flex-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-img {
	width: 70px;
}

.heading {
	font-size: 17px;
	color: white;
	margin-left: 5px;
}

.header-btn {
	font-size: 14px;
	background: #f26522;
	padding: 5px 10px;
	transition: background .3s linear;
}

.header-btn:hover {
	background: #fa9f6a;
	transition: background .3s linear;
}

/* Main-contant */

.main>.wrapper {
	text-align: center;
	padding: 30px 10px;
}

.heading-text {
	font-size: 27px;
} 

.subtext, .title-text {
	margin-top: 30px;
	font-size: 22px;
	font-weight: 400;
}

.title-text {
	font-weight: bold;
}

.set-menu {
	margin-top: 20px;
}

.cards {
	margin: 10px auto 0;
	border: 2px solid rgb(172, 172, 172);
	border-radius: 10px;
	width: 252px;
	padding: 10px 10px 25px;		
}

.cards>img {
	width: 225px;
}

.cards-description {
	width: 185px;
	margin: 0 auto;
}

.description-title, .cards-set .description-subtext {
	color: #8e0000;
	font-size: 22px;
}

.description-subtext {
	margin-top: 20px;
	font-weight: 400;
	font-size: 16px;
	color: #333333;
}

.description-link {
	display: block;
	margin-top: 40px;
	cursor: inherit;
	pointer-events: none;
	color: #444444;
}

.active {
	cursor: pointer;
	pointer-events: visible;
	color: #06811a;
	transition: color .3s linear;
}

.active:hover {
	color: #f26522;
	transition: color .3s linear;
}

.cards-set {
	margin-top: 20px;
}

.cards-set .description-title {
	color: #080808;
}

.cards-set img {
	width: 300px;
}

.cards-set .description-subtext {
	font-weight: bold;
}

