@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novathin';
    src: url('../fonts/proximanovat-thin-webfont.eot');
    src: url('../fonts/proximanovat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovat-thin-webfont.woff2') format('woff2'),
         url('../fonts/proximanovat-thin-webfont.woff') format('woff'),
         url('../fonts/proximanovat-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Header*/

.navbar-light .navbar-nav .nav-link, .h1-style, .h5-style, .text-regular, .text-bold, .text-right-slid {
	color: white;
}

.text-style, h4, .time-style, .text-bold, .text-right-slid, .h2-style, .h4-style {
	font-family: 'proxima_novabold';
}

.text-justify, .h5-style, .text-regular, .items-hover p {
	font-family: 'proxima_novaregular';
}

.text-light, .items-text {
	font-family: 'proxima_novalight';
}

header {
	position: absolute;
	width: 100%;
	z-index: 10;
}
	
.header-bg {
	background-repeat: no-repeat;
	background: radial-gradient(circle at 85% 18%, #333e66 4%,transparent 30%, transparent 100%), url(../images/image_1.png);
	background-size: cover;
	height: 125vh;
	position: relative;
	z-index: 5;
}

.wrapper {
	text-align: center;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.navbar-style {
	padding: 80px 140px 0;
}

.collapse-style {
	justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
	font-family: 'proxima_novalight';
  	font-size: 18px;
  	padding: 14px 30px;
  	transition: background .6s linear;
}

.active-style {
	margin-left: 25px;
	background: #00A8FF;
}

.navbar-light .navbar-nav .nav-link:hover {
	background: #00A8FF;
	color: white;
	transition: all .6s linear;
}

.h1-style {
	padding-top: 145px;
	font-family: 'proxima_novathin';
	font-size: 36px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	height: inherit;
}

.text-style {
	font-size: 60px;
}

.span-style {
	color: #00a8ff;
}

/*Carousel*/

.container-style {
	padding-bottom: 15px;
	margin-bottom: -58px;
}

.caption-style {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 35px 40px 25px;
	text-align: left;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.carousel-item {
	-webkit-transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
	   -moz-transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
	    -ms-transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
	     -o-transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
	        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

h4 {
	font-size: 24px;
}

.arrow-left, .arrow-right {
	z-index: 20;
}

.text-justify {
	font-size: 18px;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin-bottom: 0;
	padding-left: 30px;
	position: relative;
}

.text-justify:before {
	content: "";
	position: absolute;
	background: url(../images/css_sprites.png);
	background-position: -10px -50px;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
	top: -20%;
	left: 0;
}

.text-border:before {
	content: "";
	position: absolute;
	background: url(../images/css_sprites.png);
	background-position: -53px -10px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 35%;
	left: 11%;
}

.icon-heart:before {
	content: "";
	position: absolute;
	background: url(../images/css_sprites.png);
	background-position: -10px -10px;
	background-repeat: no-repeat;
	width: 23px;
	height: 20px;
	top: 10%;
	left: -1%;
}

.text-border {
	padding: 15px 40px 15px 70px;
	margin: 10px -40px;
	border-bottom: solid 1px #ff5f53;
	border-top: solid 1px #ff5f53;
}

.time-style {
	font-size: 18px;
}

.training-time {
	margin: 0;
	padding-left: 0;
}

.indicators-style {
	top: 15%;
	left: 62%;
	padding: 0;
	margin: 0;
}

.carousel-indicators li {
	width: 5px;
	height: 5px;
	border: 3px solid white;
	background-color: transparent;
	margin-right: 8px;
	-o-background-clip: inherit;
	   background-clip: inherit;
}

.carousel-indicators .active {
	background-color: white;
}

.price-block {
	position: relative;
}

.price-style {
	position: absolute;
	padding: 35px 40px;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
	text-align: left;
	text-align: left;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.h5-style {
	font-size: 18px;
}

.text-regular {
	white-space: pre-line;
	font-size: 24px;
	margin: 0;
	line-height: 140%;
}

.text-bold {
	font-size: 36px;
}

.text-right-slid {
	font-size: 26px;
	line-height: 130%;
	margin: 0;
}

.text-light {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
}

/*Services*/

.services {
	text-align: center;
	padding: 110px 0 180px;
	margin-top: -115px;
}

.h2-style {
	color: #333;
	font-size: 48px;
	white-space: pre-line;
	line-height: 70%;
	padding-top: 180px;
}

.items-text {
  font-size: 24px;
  color: rgb(187, 187, 187);
}

.items {
	border: 1px solid #DDD;
	position: relative;	
	margin-top: 195px;
	min-height: 320px;
	transition: border .6s ease-out;
}

.icon-cardio {
	background-repeat: no-repeat;
	background: url("../images/Heart Monitor-50.png");
	width: 50px;
	height: 42px;
	position: relative;
}

.icon-yoga {
	background-repeat: no-repeat;
	background: url("../images/Guru-50.png");
	width: 64px;
	height: 53px;
	position: relative;
	margin-top: -10px;
}

.icon-power {
	background-repeat: no-repeat;
	background: url("../images/Weightlift-50.png");
	width: 50px;
	height: 50px;
	position: relative;
	margin-top: -5px;
}

.h4-style {
	font-size: 25px;
	width: 100%;
	margin-top: 60px;
}

.items-hover {
	position: absolute;	
	display: flex;
	padding: 100px 39px 0;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: center;
	        justify-content: center;
	transition: all .6s ease-out;
}

.items-hover p {
	font-size: 18px;
	color: #A9A9A9;
	line-height: 1.778;
	margin-top: 25px;
	opacity: 0;
	transition: opacity .2s ease-out;
}

.items:hover .items-hover p{
	opacity: 1;
	transition: all .4s ease-out;
}

.items:hover .items-hover {
	top: -21px;
	padding-top: 0;
	transition: all .6s ease-out;
}

.items:hover {
	border: 1px solid #00a8ff;
	transition: all .6s ease-out;
}

.items:hover .items-hover:before { 
	content: "";
	position: absolute;
	border-top: 1px solid white;
	width: 60px;
	height: 1px;
	top: 20px;
	transition: all .6s ease-out;
}

@media screen and (max-width: 576px) {

/*Header*/

	.navbar-style {
		padding: 30px 30px 0;
	}

	.navbar-button {
		background: #FFF;
	}

	.navbar-light .navbar-nav .nav-link {
		text-align: right;
	  	font-size: 16px;
	  	padding: 5px 0;
	  	width: 150px;
	  	margin-left: auto;
	  	transition: all .6s linear;
	}

	.active-style {
		margin-left: 0;
		background: none;
	}

	.navbar-light .navbar-nav .nav-link:hover {
		background: #00A8FF;
		color: white;
		width: 150px;
		padding-right: 30px;
		margin-left: auto;
		transition: all .6s linear;
	}

	.h1-style {
		padding: 120px 0 100px;
		font-size: 22px;
	}

	.text-style {
		font-size: 36px;
	}

	/*Carousel*/

	.caption-style {
		padding: 30px;
	}

	h4 {
		font-size: 20px;
	}

	.text-justify {
		font-size: 16px;
	}

	.text-border {
		padding: 10px 40px 10px 70px;
		margin: 10px -40px;
	}

	.icon-heart:before {
		left: -5px;
	}

	.text-border:before {
		left: 35px;
	}

	.time-style {
		font-size: 16px;
	}

	.indicators-style {
		top: 37px;
	}

	.carousel-indicators li {
		width: 4px;
		height: 4px;
		border: 2px solid white;
		margin-right: 6px;
	}

	.price-style {
		padding: 30px;
	}

	.h5-style {
		font-size: 16px;
	}

	.text-regular {
		white-space: pre-line;
		font-size: 22px;
	}

	.text-bold {
		font-size: 30px;
	}

	.text-right-slid {
		font-size: 22px;
		margin: 0;
	}

	.text-light {
		font-size: 16px;
	}

/*Services*/

	.services {
		padding: 100px 0 100px;
	}

	.h2-style {
		padding-top: 150px;
		font-size: 40px;
	}

	.items-text {
	  font-size: 20px;
	}

	.items {
		margin-top: 60px;
	}

}

@media screen and (max-width: 768px) and (min-width: 576px) {

/*Header*/

	.navbar-style {
		padding: 30px 30px 0;
	}

	.navbar-button {
		background: #FFF;
	}

	.navbar-light .navbar-nav .nav-link {
		text-align: right;
	  	font-size: 18px;
	  	padding: 5px 0;
	  	width: 150px;
	  	margin-left: auto;
	  	transition: all .6s linear;
	}

	.active-style {
		margin-left: 0;
		background: none;
	}

	.navbar-light .navbar-nav .nav-link:hover {
		background: #00A8FF;
		color: white;
		width: 150px;
		padding-right: 30px;
		margin-left: auto;
		transition: all .6s linear;
	}

	.header-bg {
		height: 142vh;
	}

	.h1-style {
		padding: 120px 0 100px;
		font-size: 24px;
	}

	.text-style {
		font-size: 42px;
	}

	/*Carousel*/

	.caption-style {
		padding: 30px;
	}

	h4 {
		font-size: 22px;
	}

	.text-justify {
		font-size: 18px;
	}

	.text-border {
		padding: 15px 40px 15px 70px;
		margin: 10px -40px;
	}

	.icon-heart:before {
		left: -1%;
	}

	.text-border:before {
		left: 35px;
	}

	.time-style {
		font-size: 18px;
	}

	.training-time {
		margin-top: 170px;
	}

	.indicators-style {
		top: 37px;
		right: -45px;
	}

	.carousel-indicators li {
		width: 5px;
		height: 5px;
		border: 3px solid white;
		margin-right: 6px;
	}

	.price-style {
		padding: 30px;
	}

	.h5-style {
		font-size: 18px;
	}

	.text-regular {
		white-space: pre-line;
		font-size: 24px;
	}

	.text-bold {
		font-size: 32px;
	}

	.text-right-slid {
		font-size: 24px;
		margin: 0;
	}

	.text-light {
		font-size: 18px;
	}

/*Services*/

	.services {
		padding: 100px 0 100px;
	}

	.h2-style {
		padding-top: 150px;
	}

	.items {
		margin-top: 60px;
	}	

}	

@media screen and (min-width: 768px) and (max-width: 992px) {

/*Header*/

	.navbar-style {
		padding: 45px 45px 0;
	}

	.navbar-button {
		background: #FFF;
	}

	.navbar-light .navbar-nav .nav-link {
		text-align: right;
	  	font-size: 18px;
	  	padding: 5px 0;
	  	width: 150px;
	  	margin-left: auto;
	  	transition: all .6s linear;
	}

	.active-style {
		margin-left: 0;
		background: none;
	}

	.navbar-light .navbar-nav .nav-link:hover {
		background: #00A8FF;
		color: white;
		width: 150px;
		padding-right: 30px;
		margin-left: auto;
		transition: all .6s linear;
	}

	.header-bg {
		height: 136vh;
	}

	.h1-style {
		padding: 150px 0 130px;
		font-size: 26px;
	}

	.text-style {
		font-size: 48px;
	}

	/*Carousel*/

	.text-border:before {
		left: 35px;
	}

	.indicators-style {
		top: 37px;
		right: -45px;
	}

	.text-right-slid {
		font-size: 26px;
		margin: 0;
	}

/*Services*/

	.services {
		padding: 100px 0 100px;
	}

	.h2-style {
		padding-top: 150px;
	}

	.items {
		margin-top: 60px;
	}

} 


@media screen and (min-width: 992px) and (max-width: 1200px) {
	
/*Header*/

	.navbar-style {
		padding: 60px 100px 0;
	}	

	/*Carousel*/

	.caption-style {
		padding: 30px;	
	}

	h4 {
		font-size: 20px;
	}

	.text-border:before {
		left: 37px;
		top: 25%;
	}


	.text-justify {
		font-size: 14px;
	}

	.text-border {
		padding: 10px 40px 10px 70px;
	}

	.time-style {
		font-size: 16px;
	}

	.carousel-indicators li {
		width: 4px;
		height: 4px;
		border: 2px solid white;
	}

	.price-style {
		padding: 30px;
	}

	.h5-style {
		font-size: 16px;
	}

	.text-regular {
		font-size: 22px;
	}

	.text-bold {
		font-size: 32px;
	}

	.text-right-slid {
		font-size: 22px;
		line-height: 130%;
		margin: 0;
	}

	.text-light {
		font-size: 16px;
	}
}